
<body>


	<p><%="GoalSpec is a goal management application. It allows you to input a goal, 
	choose a start and end date for that goal and encourages you to break down 
	that goal into smaller subgoals. GoalSpec encourage you to write about your progress, and to indicate whether you are pleased or displeased with your progress that day and for the goal in general. Some goals are unrealistic, others we lose interest in. GoalSpec aims to help you make sure the goals you make work in your life." %></p>
	<p><%= hide_link %></p>


</body>
