<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' httrp-equiv='Content-Type' />
	</head>
	<body>
	<h1>Welcome to GoalSpec! </h1>
	<p>You will use your email to sign in with your
	totally unique and one-of-a-kind password that I'm sure you haven't
	used for any other site. </p>
	<p>Please click <%=link_to "here", @url %> to login and
	start goaling!</p>
	<p>Thanks for joining!</p>
	</body>
</html>