
    
      <tr>
        <td><%= link_to subgoal.goal, subgoal %></td>
        <td><%= subgoal.end.to_s(:long_ordinal) %></td>
        <td><%= link_to "View updates", goal_goal_updates_path(subgoal.id) %> </td>
        <% find_subgoals(subgoal).each do |g| %>
            <% subgoal = Goal.find(g.goal_id) %>
            <%= render partial: 'layouts/table_row', locals: {subgoal: subgoal} %>
            <% end %>
      </tr>
 